* {
    cursor: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto mono", monospace;
}

/* Custom cursor */
.cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 255);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.7);
    filter: blur(0.7px);
    pointer-events: none;
    transition: background 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    z-index: 9999;
}

/* Additional glowing effect on hover */
body:hover .cursor {
    box-shadow: 0 0 30px rgba(255, 255, 255, 1);
}

/* Ensure the pointer doesn't appear on hoverable elements */
button, a {
    cursor: none;
}

main {
    min-height: 100vh;
    background-image: url('images/background.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    min-height: 80vh;
    width: 80%;
    border-radius: 1rem;
    border: 3px solid #fdfdfd;
    z-index: 2;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav {
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*making dashboard float*/
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.dashboard {
    width: 85%;
    padding: 20px;
    display: flex;
    gap: 20px;
    animation: float 3s ease-in-out infinite;
    justify-content: center;
}

.inner-inner-glass {
    display: flex;
}


.inner-glass {
    background: rgba(252, 250, 250, 0.1);
    border-radius: 1rem;
    border: 1px solid #ffffff;
    backdrop-filter: blur(0.1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: auto;
    display: flex; /* Ensure flexbox layout */
    gap: 20px; /* Space between columns */
    width: 100%;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    flex-direction: row;
    justify-content: space-between;
}

.user h3 {
    font-family: "Roboto mono", monospace;
    font-size: 2vw;
    margin: 1px 0 5px 0;
    color: white;
    margin-left: 61px;
}

.user p {
    font-family: "Roboto mono", monospace;
    font-size: 1.1vw;
    margin: 0 0 10px 0;
    color: rgb(217, 233, 240);
    margin-left: 50px;
}

.user img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 71px;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    font-size: 1.5vw;
    margin: 10px 0;
    margin-left: 10%;
    padding: 10px;
    width: 100%;
    text-align: center;
    transition: background 0.3s, color 0.3s;
    cursor: none;
    transition: 0.4s ease;
}

.links .link:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px white, 0 0 30px white, 0 0 40px white;
    background-color: rgb(255, 255, 255);
    color: black;
    transform: translateY(4px);
}

.link p {
    margin-left: 8px;
}

.socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-left: 10%;
    font-size: 2.5rem;
    color: rgb(195, 221, 241);
}

.timeline {
    width: 65%;
}

.event {
    flex: 1; /* Take up equal space */
    display: flex;
    flex-direction: column;
}

.tech-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-top: 3.5%;
    margin-left: 2%;
    font-size: 2rem;
}

.timeline-item {
    margin-bottom: 5%;
}

.timeline-content {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}

.timeline-item h2 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(35, 36, 41);
    font-weight: bold;
}

.tech-stack h2 {
    color: rgb(35, 36, 41);
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 15%;
    padding-left: 5%;
    font-weight: bold;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    flex-direction: column;
}

.tech-icons i {
    font-size: 3.2rem;
    color: white;
}
